/* Глобальні стилі */
body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background: #dab0dd;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Контейнер форми */
.container {
  background: #e4c2e7;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  width: 500px;
  max-width: 90%;
  text-align: center;
}

/* Заголовок */
h1 {
  font-size: 24px;
  font-weight: bold;
  color: #4b086d;
}

/* Стилі для текстових полів */
input[type="text"],
textarea,
select {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #af6fc2;
  background: #f8e6f9;
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 16px;
}

/* Стилі для питання */
.question-container {
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

/* Стилі для відповідей */
.answer-container {
  margin-top: 10px;
}

.answer-container input[type="text"] {
  width: calc(100% - 50px);
  display: inline-block;
}

.remove-question,
.remove-answer {
  background: #d1735b;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.remove-question:hover,
.remove-answer:hover {
  background: #b85e4c;
}

/* Кнопки додавання */
button {
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  margin-top: 10px;
}

#add-question-button {
  background: #a658bf;
  color: white;
}

#add-question-button:hover {
  background: #8e4aa1;
}

#submit-button {
  background: #4b086d;
  color: white;
}

#submit-button:hover {
  background: #390550;
}
